body {
  font-size: 16px;
  color: #fdfffc;
  background-color: #012542e1;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1 {
  color: #fdfffc;
  font-weight: 600;
  text-shadow: 2px 2px 4px #ff9500;
  text-decoration: underline;
  font-weight: bolder;
}
p {
  color: #fdfffc;

}
#minha_foto {
  border-radius: 100% ;
  border:1px solid #ff9500;
  box-shadow: 0px 0px 5px #ff9500;   
}

h2 {
  color: #ff9500;
  font-weight: bolder;
  text-decoration: underline;
}


#minhacidade {
  color: rgb(141, 233, 50);
}
.importante {
  font-weight: bold;
}

#under_construction_icon {
    width: 100px;
    opacity: 0.7;
}

.listadelinks {
  color: #fdfffc;
}

h3 {
  text-align: center;
}

.linkindicedepagina {
  color: #fdfffc;
  font-weight: lighter;
  font-size: small;
}

#rodape {
      text-align: center;
      font-weight: lighter;
      font-size: small;
    }