body {
  font-size: 16px;
  color: #fdfffc;
  background-color: #012542e1;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1 {
  text-align: center  ;
  color: #fdfffc;
  font-weight: 600;
  text-shadow: 2px 2px 4px #DE8787;
  text-decoration: ;
  font-weight: bolder;
}
p {
  color: #fdfffc;

}
#minha_foto {
  border-radius: 100% ;
  border:1px solid #012542e1;
  box-shadow: 5px 10px 20px #012542e1;   
}

h2 {
  color: #DE8787;
  font-weight: bolder;
  text-decoration: underline;
}

#descricao {
  color: #012542e1;
}

#minhacidade {
  color: 
}

div:nth-of-type(4) li:nth-child(odd) {
font-style: italic;
font-size: 2em;
font-weight: bold;
}

#under_construction_icon {
    width: 100px;
    opacity:
}

.listadelinks {
  color: #fdfffc;
}

h3 {
  text-align: left;
}

.linkindicedepagina {
  color: #fdfffc;
  font-weight: lighter;
  font-size: small;
}

div:nth-of-type(1) {
margin-top: ;}

  
div:nth-of-type(2)  {
  margin-top: -214px;
  padding: 5px 15px 15px 250px ;
  background-color: #f3e9d7;
  text-align: left;
  position: flex;

} 

div:nth-of-type(3) {
  margin-top: ;
}

div:nth-of-type(4) {
  margin-top: 10px;
}
div:nth-of-type(5) {
  margin-top: 20px;
}
div:nth-of-type(6) {
}

div:nth-of-type(7) {
  text-align: center;
}

div:nth-of-type(8) {
  text-align: center;
}

span {
text-align: justify;
text-size-adjust;
margin-inline: 10px;
}

hr {
margin-top: 50px;
}