.editable-main{
    width: 75%;
    float: right;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 25px 0;
    text-align: center;
    color: rgb(248, 92, 35);
}

.editable-table{
    display: flex;
    align-items:baseline;
    padding-bottom: 20px;
}

.btn-edit-exp{
    cursor: pointer;
    color: #fff;
    background: rgb(248, 92, 35);
    border: 0;
    transition-duration: 0.8s;
    border-radius: 0px;
    margin-top: 10px;
	padding: 10px 10px 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    width: 100%; 
    font-size: large;
    font-weight: bolder;
}

@media (max-width: 600px) {
    .editable-main {
        border-radius: 0px;
    }
  }