/* body {
    background-color: #984B59;
    color: white;
}

header {
    font-weight: bold;
    font-size: larger;
}
ol {
    background-color: #FFF5DA;
    color: black;
    
}
button {
    background-color:#4E9A9A;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

#lista-tarefas .selected {
    background-color:#4E9A9A;
} */
